################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NerdStore.Catalogo.Domain/obj
/src/NerdStore.Core/obj
/tests/NerdStore.Catalogo.Domain.Tests/bin/Debug/net6.0
/tests/NerdStore.Catalogo.Domain.Tests/obj
/src/NerdStore.Catalogo.Data/bin/Debug/net6.0
/src/NerdStore.Catalogo.Data/obj
/src/NerdStore.Catalogo.Domain/bin/Debug/net6.0
/src/NerdStore.WebApp.MVC/obj
/src/NerdStore.Catalogo.Application/obj
/src/NerdStore.Catalogo.Application/bin/Debug/net6.0
/src/NerdStore.WebApp.MVC/bin/Debug/net6.0
/src/NerdStore.Vendas.Application/obj
/src/NerdStore.Vendas.Data/obj
/src/NerdStore.Vendas.Domain/obj
/src/NerdStore.Vendas.Application/bin/Debug/net6.0
/src/NerdStore.Vendas.Data/bin/Debug/net6.0
/src/NerdStore.Vendas.Domain/bin/Debug/net6.0
/src/NerdStore.Pagamentos.AntiCorruption/obj
/src/NerdStore.Pagamentos.Business/obj
/src/NerdStore.Pagamentos.Data/obj
