################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NerdStore.Catalogo.Domain/obj
/src/NerdStore.Core/obj
